#wrapper {
	width: 100%;
	text-align: center;
}

#header {
	display: inline-block;
	width: 100%;
	height: 20%;
}

#login {
	display: inline-block;
	width: auto;
	text-align: center;
}

body {
	background-color: #4d4d4d;
}

h1 {
	color: #e6e6e6
}
