#content {
	width: 100%;
}

table {
	width: 100%;
	margin-top: 10px; 
}

th {
	color: #ffffff;
}

th:nth-child(1) {
	width: 65%; 
	text-align: left;
}

th:nth-child(2) {
	width: 10%;
}

th:nth-child(3) {
	width: 25%;
}

tr {
    color: #aaaaaa;
}